Assignment 4a xslt/origcode/result1.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
		<element name="root">
			<oneOrMore> <!-- das unternehmen muss min einen worker haben -->
				<element name="worker">
					<ref name="attr_worker"/>
					<ref name="elem_worker"/>				
				</element>
			</oneOrMore>
		</element>
	</start>
  
	<!-- worker_attributes -->
	<define name="attr_worker">
		<attribute name="svnr">
			<data type="integer">
				<param name="totalDigits">10</param>
			</data>
		</attribute>		
		<attribute name="entrydate">
			<data type="string">
				<param name="maxLength">10</param>
				<param name="minLength">8</param>
			</data>
		</attribute>
		<optional>
			<attribute name="unique_feature">
				<data type="string"/>
			</attribute>
		</optional>
	</define>

	<!-- worker_elements -->
	<define name="elem_worker">
		<interleave>
			<element name="firstname">
				<data type="string"/>
			</element>
			<element name="lastname">
				<data type="string"/>
			</element>
			<element name="nickname">
				<data type="string"/>
			</element>
			<element name="warehouse_zugeordnet">
				<ref name="attr_warehouse" />
				<ref name="elem_warehouse" />
			</element>
		</interleave>
	  </define>
	  
	<!-- warehouse_attributes -->
	<define name="attr_warehouse">
		<attribute name="warehouse_id">
			<data type="integer"/>
		</attribute>  
	</define>

	<!-- warehouse_elements -->
	<define name="elem_warehouse">
		<element name="warehousename">
			<data type="string" />
		</element>
		<element name="printers">
			<zeroOrMore>
				<element name="printer">
					<ref name="attr_printer" />
					<ref name="elem_printer" />
				</element>
			</zeroOrMore>
		</element>
	</define>

	<!-- printer_attributes -->
	<define name="attr_printer">
		<attribute name="printer_id">
			<data type="integer"/>
		</attribute>
	</define>

	<!-- printer_elements -->
	<define name="elem_printer">
		<element name="printer_info">
			<element name="name">
				<data type="string" />
			</element>
			<element name="weight">
				<data type="decimal">
					<param name="minExclusive">0</param>
				</data>
			</element>
			<element name="measurements">
				<element name="print_width">
					<data type="decimal">
						<param name="minExclusive">0</param>
					</data>
				</element>
				<element name="print_depth">
					<data type="decimal">
						<param name="minExclusive">0</param>
					</data>
				</element>
				<element name="print_height">
					<data type="decimal">
						<param name="minExclusive">0</param>
					</data>
				</element>
			</element>
		</element>
		<optional>
			<element name="extruder_type">
				<choice>
					<value>Direct</value>
					<value>Hotend</value>
					<value>Bowden</value>
					<value></value>
				</choice>
			</element>
		</optional>
		<element name="price">
			<data type="decimal">
				<param name="minInclusive">0</param> <!-- maybe a present -->
			</data>
		</element>
	</define>
  
</grammar>