Assignment 4a xslt/origcode/result4.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<start>
		<element name="root">
			<oneOrMore> <!-- ther has to be at least one worker in the company -->
				<element name="worker">
					<ref name="attr_worker"/>
					<ref name="elem_worker"/>				
				</element>
			</oneOrMore>
		</element>
	</start>

	
	<!-- worker_attributes -->
	<define name="attr_worker">
		<attribute name="svnr">
			<data type="integer">
				<param name="totalDigits">10</param>
			</data>
		</attribute>
		<attribute name="entrydate">
			<data type="string"/>
		</attribute>
		<optional>
			<attribute name="unique_feature">
				<data type="string"/>
			</attribute>
		</optional>
	</define>

	<!-- worker_elements -->
	<define name="elem_worker">
		<element name="first_name">
			<data type="string" />
		</element>
		<element name="last_name">
			<data type="string" />
		</element>
		<element name="nickname">
			<data type="string" />
		</element>
		<element name="plans">
			<zeroOrMore>
				<element name="plan">
					<ref name="attr_plan"/>
					<ref name="elem_plan"/>
				</element>
			</zeroOrMore>
		</element>
		<element name="shopping_items">
			<zeroOrMore>
				<element name="item">
					<ref name="attr_item"/>
					<ref name="elem_item"/>
				</element>
			</zeroOrMore>
		</element>
	</define>
	  
	<!-- plan_attributes -->
	<define name="attr_plan">
		<attribute name="plan_id">
			<data type="integer"/>
		</attribute>
		<attribute name="status">
			<data type="string"/>
		</attribute>
		<attribute name="priority">
			<data type="string"/>
		</attribute>
	</define>

	<!-- plan_elements -->
	<define name="elem_plan">
		<element name="endproduct_name">
			<data type="string" />
		</element>
	</define>
    
	  
	<!-- shopping_item_attributes -->
	<define name="attr_item">
		<attribute name="item_id">
			<data type="integer"/>
		</attribute>
		<attribute name="is_finished">
			<data type="boolean"/>
		</attribute>
	</define>

	<!-- shopping_item_elements -->
	<define name="elem_item">
		<element name="item_info">
			<element name="buying_info">
				<optional>
					<element name="seller_suggestion">
						<data type="string" />
					</element>	
				</optional>
				<element name="name">
					<data type="string" />
				</element>
			</element>
			<optional>
				<element name="additional_info">
					<data type="string" />
				</element>
			</optional>
		</element>
		<element name="due_date">
			<data type="string" />
		</element>
		<element name="list_entry_date">
			<data type="string" />
		</element>
	</define>

 
	
</grammar>