Assignment7/code/result3.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<start>
		<element name="root">
			<zeroOrMore>
				<element name="artist">
					<ref name="attr_artist"/>
					<ref name="elem_artist"/>				
				</element>
			</zeroOrMore>
		</element>
	</start>

	
	<!-- artist_attributes -->
	<define name="attr_artist">
		<attribute name="artist_id">
            <data type="integer"/>
		</attribute>
	</define>

	<!-- artist_elements -->
	<define name="elem_artist">
		<interleave>
			<element name="first_name">
				<data type="string" />
			</element>
			<element name="last_name">
				<data type="string" />
			</element>
		</interleave>
		<element name="plans">
			<zeroOrMore>
				<element name="plan">
					<ref name="attr_plan"/>
					<ref name="elem_plan"/>
				</element>
			</zeroOrMore>
		</element>
	</define>
	  

	<!-- plan_attributes -->
	<define name="attr_plan">
		<attribute name="plan_id">
			<data type="integer"/>
		</attribute>
		<attribute name="status">
			<data type="string"/>
		</attribute>
		<attribute name="priority">
			<data type="string"/>
		</attribute>
	</define>

	<!-- plan_elements -->
	<define name="elem_plan">
		<interleave>
			<element name="endproduct_name">
				<data type="string" />
			</element>
			<element name="basic_instruction">
				<data type="string" />
			</element>
		</interleave>
		<element name="involved_worker">
			<ref name="attr_worker"/>
			<ref name="elem_worker"/>				
		</element>
	</define>

 
	<!-- worker_attributes -->
	<define name="attr_worker">
		<attribute name="svnr">
			<data type="integer">
				<param name="totalDigits">10</param>
			</data>
		</attribute>		
		<attribute name="entrydate">
			<data type="string">
				<param name="maxLength">10</param>
				<param name="minLength">8</param>
			</data>
		</attribute>
		<optional>
			<attribute name="unique_feature">
				<data type="string"/>
			</attribute>
		</optional>
	</define>

	<!-- worker_elements -->
	<define name="elem_worker">
		<interleave>
			<element name="first_name">
				<data type="string" />
			</element>
			<element name="last_name">
				<data type="string" />
			</element>
		</interleave>
	</define>
    
</grammar>