Assignment 4a xslt/1sonstiges/other/rngs_von_mir/result2.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<start>
		<element name="root">
			<oneOrMore>
				<element name="warehouse">
					<ref name="attr_warehouse"/>
					<ref name="elem_warehouse"/>				
				</element>
			</oneOrMore>
		</element>
	</start>

	
	<!-- warehouse_attributes -->
	<define name="attr_warehouse">
		<attribute name="warehouse_id">
            <data type="integer"/>
		</attribute>
		<attribute name="country">
            <data type="string"/>
		</attribute>
	</define>

	<!-- warehouse_elements -->
	<define name="elem_warehouse">
		<element name="warehousename">
			<data type="string" />
		</element>
		
		<optional>		
			<element name="gla">
				<choice>
					<data type="decimal">
						<param name="minExclusive">0</param>
					</data>
					<empty/> <!-- falls leeres uebergeben, aber element da -->
				</choice>
			</element>
		</optional>
		<optional>		
			<element name="vkfl">
				<choice>
					<data type="decimal">
						<param name="minExclusive">0</param>
					</data>
					<empty/>
				</choice>
			</element>
		</optional>
		<element name="printers">
			<zeroOrMore>
				<element name="printer">
					<ref name="attr_printer"/>
					<ref name="elem_printer"/>
				</element>
			</zeroOrMore>
		</element>
	</define>
	  

	<!-- printer_attributes -->
	<define name="attr_printer">
		<attribute name="printer_id">
			<data type="integer"/>
		</attribute>
	</define>

	<!-- printer_elements -->
	<define name="elem_printer">
		<element name="printer_info">
			<element name="name">
				<data type="string" />
			</element>
			<element name="weight">
				<data type="decimal">
					<param name="minExclusive">0</param>
				</data>
			</element>
			<element name="measurements">
				<element name="print_width">
					<data type="decimal">
						<param name="minExclusive">0</param>
					</data>
				</element>
				<element name="print_depth">
					<data type="decimal">
						<param name="minExclusive">0</param>
					</data>
				</element>
				<element name="print_height">
					<data type="decimal">
						<param name="minExclusive">0</param>
					</data>
				</element>
			</element>
		</element>
		<optional>
			<element name="extruder_type">
				<choice>
					<value>Direct</value>
					<value>Hotend</value>
					<value>Bowden</value>
					<value></value>
				</choice>
			</element>
		</optional>
		<element name="price">
			<data type="decimal">
				<param name="minInclusive">0</param> <!-- maybe a present -->
			</data>
		</element>
		<element name="printed_plans">
			<zeroOrMore>
				<element name="plan">
					<ref name="attr_plan"/>
					<ref name="elem_plan"/>				
				</element>
			</zeroOrMore>
		</element>
	</define>

 
	<!-- plan_attributes -->
	<define name="attr_plan">
		<attribute name="plan_id">
			<data type="integer"/>
		</attribute>
		<attribute name="status">
			<data type="string"/>
		</attribute>
		<attribute name="priority">
			<data type="string"/>
		</attribute>
	</define>

	<!-- plan_elements -->
	<define name="elem_plan">
		<element name="endproduct_name">
			<data type="string" />
		</element>
		<element name="basic_instruction">
			<data type="string" />
		</element>
	</define>
    
</grammar>